:root{
  --violet: hsl(257, 40%, 49%);
  --violet-off: hsl(257, 40%, 49%, 0.9);
  --offwhite: #f9f1f1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.wrapper{
  width: 90%;
  margin: auto;
}

#hero{
  min-height: 100vh;
  width: 100vw;
  padding: 2.5rem 0;

  background-color: var(--violet);
  background-image: url("../images/bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#logo{
}

.container{
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container{
  width: 50%;
}

#mockups{
  width: 100%;
}

#content{
  width: 45%;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1.5rem 0;
  width: 100%;
}

p{
  line-height: 1.6rem;
  color: var(--offwhite);
}

button{
  color: var(--violet-off);
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 1rem 4rem;
  box-shadow: 0px 0px 10px #333;
  margin-top: 2rem;
}

button:hover{
  background-color: var(--violet);
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
}

.socials{
  display: flex;
  justify-content: flex-end;
}

i{
  padding: .4rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 10px;
  display: block;
}

i:hover{
  background-color: #fff;
  color: var(--violet);
  cursor: pointer;
  transition: all 300ms ease;
}

@media (max-width: 768px) {
  .container{
    flex-direction: column;
  }

  .img-container{
    width: 100%;
  }

  #content{
    width: 100%;
    align-items: center;
    position: static;
  }

  h1{
    font-size: 1.5rem;
    text-align: center;
  }

  p{
    text-align: center;
    line-height: normal;
  }

  .socials{
    justify-content: center;
    margin-top: 2rem;
  }
}
